<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert</title>
</head>
<body>
	<div align="center">
		<form action="/insert" method="post">
		Name:<input type="text" name="name" placeholder="Enter your name" ><br><br>
		Mobile:<input type="number" name="mobile" placeholder="Enter your mobile no" ><br><br>
		Gender:<input type="radio" name="gender" value="male" >Male
				<input type="radio" name="gender" value="female" >Female
				<br><br>
		Marks:<br>
				Math:<input type="number" name="math" placeholder="Enter your Math Marks" ><br><br>
				Science:<input type="number" name="science" placeholder="Enter your Science Marks" ><br><br>
				English:<input type="number" name="english" placeholder="Enter your English Marks" ><br><br>
			
				
				<button>Submit</button>
		
		
	</form>
	</div>
</body>
</html>